:root {
   --normal-color: #434343;
   --main-color: #c8a165;
   --accent-color: #c87065;
   --bground-menu: #273142;
   --bground-admin: #1b2431;
   --title-color: #444;
   --mrt: 55px;
}

a {
   text-decoration: none;
   color: var(--normal-color);
   transition-duration: 0.3s;
   transition-timing-function: ease-in-out;
}

body {
   background-color: var(--bground-admin);
   box-sizing: border-box;
   margin: 0;
   font-family: "Open Sans", sans-serif;
}

/* Css section add product */
.add-product {
   margin-top: 80px;
}

.title-product {
   display: flex;
   flex-direction: row;
   align-items: center;
   gap: 20px;
}

.title-product h1 {
   color: #ffffff;
   font-size: 27px;
}

.title-product i {
   cursor: pointer;
   color: #ffffff;
   border-radius: 50%;
   border: 2px solid var(--bground-menu);
   padding: 10px 12px;
   transition: all 0.3s ease-in-out;
}

.title-product i:hover {
   transform: scale(1.1);
   background-color: var(--main-color);
}

.container-add-product {
   display: flex;
   flex-direction: row;
   align-items: center;
   gap: 50px;
}

.container-add-product .box-featured-product {
   width: 300px;
}

.box-toggle-image {
   border-radius: 14px 14px 0 0;
   border-bottom: 1px solid #979797;
   width: 100%;
   height: 267px;
   display: grid;
   place-items: center;
}

.box-toggle-image i {
   font-size: 60px;
   color: var(--bground-admin);
}

/* Css input add product */
.box-input-add {
   display: grid;
   grid-template-columns: 1fr 1fr;
   grid-template-rows: auto;
   column-gap: 20px;
}

.box-input-add button {
   width: 50%;
   margin-top: 20px;
   cursor: pointer;
   outline: none;
   border: 1px solid #979797;
   background-color: #4b5668;
   color: #ffffff;
   height: 40px;
   font-size: 13px;
   border-radius: 12px;
   transition: all 0.3s ease-in-out;
}

.box-input-add button:hover {
   transform: translateY(-3px);
   background-color: var(--main-color);
}

.element-input p {
   color: #ffffff;
}

.element-input input[type="checkbox"] {
   cursor: pointer;
}

.element-input input[type="text"],
.element-input input[type="number"],
.element-input select {
   outline: none;
   color: #ffffff;
   border: 0.6px solid #cfcfcf33;
   background-color: #323d4e;
   border-radius: 19px;
   height: 35px;
   box-sizing: border-box;
   padding-left: 15px;
   font-size: 12px;
   width: 320px;
}

.element-input select {
   -webkit-appearance: none; /* Safari and Chrome */
   -moz-appearance: none; /* Firefox */
   appearance: none;
}

.element-input input[type="number"]::-webkit-inner-spin-button,
.element-input input[type="number"]::-webkit-outer-spin-button {
   -webkit-appearance: none;
   margin: 0;
}

.chooseFileAvatar {
   width: 100%;
   align-self: flex-start;
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: start;
}

.chooseFileAvatar span {
   color: #ffffff;
   font-size: 13px;
}

.chooseFileAvatar input.inputFile {
   width: 0.1px;
   height: 0.1px;
   opacity: 0;
   overflow: hidden;
   position: absolute;
   z-index: -1;
}

.chooseFileAvatar input.inputFile + label {
   display: inline-block;
   cursor: pointer;
   background-color: #eee;
   width: 50%;
   padding: 10px 15px;
   font-size: 13px;
   box-sizing: border-box;
   border-radius: 5px;
   transition: all 0.3s ease-in-out;
   margin-right: 10px;
}

.chooseFileAvatar input.inputFile + label i {
   margin-right: 10px;
}

.chooseFileAvatar input.inputFile:focus + label,
.chooseFileAvatar input.inputFile + label:hover {
   background-color: var(--main-color);
   color: white;
}
