:root {
   --font-family-body: "Open Sans", sans-serif;
   --font-family-title: "Nunito", sans-serif; 
   --color-primary: #382210;
   --color-secondary: #FFE8CF;
   --color-tertiary: #96725A;
   --color-body-bg: #fff;
   --color-body: #6F6F6F;
   --font-weight-paragraph: 400;
   --font-weight-title: 600;
}

/* Body cart */
.body-cart {
   margin: 70px 0;
}

.container-body-cart {
   display: grid;
   grid-template-columns: 2fr 1fr;
   gap: 20px;
}

/* Box main cart */
.title-cart,
.product-in-cart {
   display: grid;
   grid-template-columns: 2.5fr 1fr 1fr;
   border-bottom: 1px solid rgba(0, 0, 0, 10%);
}

.title-cart p {
   font-weight: 500;
   color: var(--color-primary);
   font-size: 16px;
}

.title-cart p:first-child,
.product-cart:first-child {
   justify-self: start;
}

.title-cart p:last-child,
.product-cart:last-child {
   justify-self: end;
}

.title-cart p:nth-child(2),
.product-cart:nth-child(2) {
   justify-self: center;
}

.body-product-in-cart {
   display: flex;
   flex-direction: column;
}

.product-in-cart {
   margin-top: 30px;
   padding-bottom: 20px;
}

.product-cart__infor {
   display: flex;
   align-items: flex-start;
   justify-content: flex-start;
   gap: 15px;
}

.img-product-cart {
   display: grid;
   place-items: center;
   width: 105px;
   height: 115px;
   border: 1px solid rgba(0, 0, 0, 20%);
}

.img-product-cart img {
   width: 100px;
   height: 110px;
   object-fit: cover;
}

.name-product-cart {
   font-size: 16px;
   font-weight: 500;
}

.name-product-cart:hover {
   color: var(--color-primary);
}

.price-product-cart {
   font-size: 14px;
   font-weight: 500;
   margin-top: 10px;
   margin-bottom: 0;
   color: var(--color-tertiary);
}

.size-flavout-product-cart {
   font-size: 14px;
   margin-top: 10px;
   color: var(--color-tertiary);
   font-weight: 500;
}

.size-flavout-product-cart span {
   font-weight: 300;
}

.container-quantity-cart {
   display: grid;
   place-items: center;
}

.quantity-pro-cart {
   display: flex;
}

.decAndinc-quantity-product-cart {
   cursor: pointer;
   color: #fff;
   height: 30px;
   width: 30px;
   background-color: var(--color-tertiary);
   outline: none;
   border: none;
   border-radius: 3px;
   transition: all .3s ease-in-out;
}

.decAndinc-quantity-product-cart:hover {
   background-color: var(--color-primary);
}

.content-quantity-pro-cart {
   display: grid;
   place-items: center;
   border: 1px solid rgba(0, 0, 0, 10%);
   outline: none;
   border-radius: 3px;
   height: 30px;
   width: 60px;
   margin: 0 5px;
   font-size: 13px;
}

.quantity-pro-cart input[type=number] {
   margin: 0 5px;
   outline: none;
   box-sizing: border-box;
   height: 30px;
   width: 60px;
   text-align: center;
}

.quantity-pro-cart input[type="number"]::-webkit-inner-spin-button,
.quantity-pro-cart input[type="number"]::-webkit-outer-spin-button {
   -webkit-appearance: none;
   margin: 0;
}

.product-cart__total {
   align-self: center;
}

.total-product-cart {
   margin: 0;
   padding-bottom: 30px;
   font-weight: 500;
   color: var(--color-tertiary);
   font-size: 18px;
}

/* Footer main cart */
.footer-main-cart {
   margin-top: 20px;
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.discount-cart {
   display: flex;
   align-items: center;
}

.main-discount-cart-input {
   position: relative;
}

.icon-gift-onInput-discount {
   position: absolute;
   left: 22px;
   top: 12px;
   color: var(--color-body);
}

.discount-cart-input {
   box-sizing: border-box;
   border: 1px solid rgba(0, 0, 0, 10%);
   border-right: none;
   outline: none;
   height: 48px;
   width: 270px;
   padding-left: 48px;
   font-weight: 300;
   font-size: 14px;
}

.icon-submit-discount {
   cursor: pointer;
   display: grid;
   place-items: center;
   height: 48px;
   width: 48px;
   font-size: 25px;
   background-color: var(--color-tertiary);
   color: #fff;
   transition: all 0.3s ease-in-out;
}

.icon-submit-discount:hover {
   background-color: var(--color-primary);
}

.button-return-store .main-btn__returnStore {
   background-color: var(--color-tertiary);
   width: 180px;
   font-weight: 500;
}

.button-return-store .main-btn__returnStore:hover {
   background-color: var(--color-primary);
}

/* Box subtotal cart */
.main-shipping-estimates {
   height: 100%;
   width: 100%;
}

.box-subtotal-cart {
   background-color: #f7f7f7;
   padding: 30px 25px;
   height: 505px;
   position: sticky;
   top: 90px;
}

.box-subtotal-cart h1 {
   font-family: var(--font-family-title);
   font-weight: 700;
   font-size: 20px;
}

.input-country-shipping {
   margin-top: 32px;
}

.input-country-shipping p,
.input-zipCode-shipping p {
   font-size: 15px;
   font-weight: 400;
   margin-bottom: 0;
}

.input-country-shipping select {
   cursor: pointer;
   -webkit-appearance: none;
   appearance: none;
   outline: none;
   border: 1px solid rgba(0, 0, 0, 10%);
   width: 100%;
   height: 45px;
   padding-left: 15px;
   margin-top: 10px;
   background-color: #f7f7f7;
}

.input-zipCode-shipping .zipCode-shipping {
   outline: none;
   border: 1px solid rgba(0, 0, 0, 10%);
   width: 100%;
   height: 45px;
   padding-left: 15px;
   margin-top: 10px;
}

.box-subtotal-cart .main-btn__calc-shipping {
   margin-top: 15px;
   width: 100%;
   background-color: var(--color-tertiary);
   font-weight: 500;
}

.box-subtotal-cart .main-btn__calc-shipping:hover {
   background-color: var(--color-primary);
}

.container-subtotal {
   margin-top: 100px;
   display: flex;
   flex-direction: column;
   gap: 10px;
}

.result-subtotal {
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.result-subtotal__0 p {
   font-weight: 600;
   color: var(--color-body);
   margin: 0;
   font-size: 14px;
}

.result-subtotal__1 p {
   font-weight: 600;
   color: var(--color-tertiary);
   font-size: 18px;
   margin: 0;
}

.paragraph-on-boxShipping {
   font-weight: 400;
   font-size: 14px;
}

.box-subtotal-cart .main-btn__checkout-shipping {
   width: 100%;
   margin-top: 20px;
   background-color: var(--color-tertiary);
}

.box-subtotal-cart .main-btn__checkout-shipping:hover {
   background-color: var(--color-primary);
}

.delete-item-cart {
   width: 100%;
   cursor: pointer;
   font-size: 15px;
   padding: 5px 0;
   outline: none;
   border: none;
   color: #fff;
   background-color: #D9D9D9;
   border-radius: 3px;
   margin-top: 10px;
   transition: all .3s ease-in-out;
}

.delete-item-cart:hover {
   background-color: #717070;
}

.error-empty-cart {
   font-weight: 500;
   display: grid;
   place-items: center;
   margin: 50px 0;
}