:root {
   --font-family-body: "Open Sans", sans-serif;
   --font-family-title: "Nunito", sans-serif; 
   --color-primary: #382210;
   --color-secondary: #FFE8CF;
   --color-tertiary: #96725A;
   --color-body-bg: #fff;
   --color-body: #6F6F6F;
   --font-weight-paragraph: 400;
   --font-weight-title: 600;
}

/* Section Foooter */
.main-footer {
   border-top: 1px solid rgba(0, 0, 0, 15%);
   padding-top: 50px;
}

.container-footer {
   display: grid;
   grid-template-columns: 1fr 1fr 1.5fr 1.5fr;
   gap: 120px;
   align-items: start;
   list-style: none;
   padding-left: 0;
   margin-bottom: 50px;
}

.item-footer h2 {
   margin: 0;
   font-size: 20px;
   margin-bottom: 20px;
}

.item-footer ul {
   list-style: none;
   padding-left: 0;
}

.item-footer ul li {
   font-size: 14px;
   margin-bottom: 10px;
}

.item-footer ul li a {
   color: var(--color-primary);
}

.item-footer ul li a:hover {
   color: var(--color-tertiary);
}

.item-footer .info-order {
   display: flex;
   align-items: flex-start;
   gap: 15px;
   margin-bottom: 20px;
}

.item-footer .info-order p {
   margin: 0;
   font-size: 14px;
   color: var(--color-primary);
}

.logo-footer img {
   width: 100%;
}

.slogan-footer {
   color: var(--color-primary);
   font-size: 14px;
}

.container-icon-social {
   display: flex;
   gap: 30px;
   align-items: center;
}

.container-icon-social a i {
   font-size: 22px;
   color: var(--color-primary);
   transition: all .3s ease-in-out;
}

.container-icon-social a i:hover {
   color: var(--color-tertiary);
}

.bottom-footer {
   background-color: var(--color-primary);
   padding: 22px 0;
}

.bottom-footer p {
   margin: 0;
   text-align: center;
   font-size: 14px;
}