<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Mixi-Shop</title>
    <link rel="Website icon" type="png" href="assets/images/logobluelight.png">
    <link rel="stylesheet" href="assets/css/style.css">
    <link rel="stylesheet" href="assets/font-icon/fontawesome-free-6.3.0/fontawesome-free-6.3.0/css/all.css">
    <link rel="stylesheet" href="assets/css/thongbao.css">
</head>
<body>
    <div class="wrapper">
        <header id="header">
            <div class="img_header"> <a href="index.html"><img src="assets/images/logo.png" width="142x" height="83px"></a> </div>

                <ul class="nav_left">
                    <li><a href="index.html">HOME</a></li>
                    <li id="chanav" style="padding-bottom: 50px;"><a href="#">DANH MỤC SẢN PHẨM</a>
                        <ul class="subnav">
                            <li><a href="sanpham.html">- Áo phông Mixi</a></li>
                            <li><a href="#">- Áo ba lỗ Mixi</a></li>
                            <li><a href="#">- Bộ ghép hình Mixi</a></li>
                        </ul>
                    </li>
                    <li><a href="#">THÔNG BÁO</a></li>
                </ul>

                <ul class="nav_right">
                    <li><a href="#">08290XXXXX</a></li>
                    <li style="border-left: 1.5px solid gray;"></li>
                    <li><a href="#">GIỎ HÀNG    / 0 đ</a></li>
                </ul>
        </header>

        <div class="thong_bao">
            <h3>THÔNG BÁO</h3>
            <p>MixiShop xin thông báo hiện Shop KHÔNG có chương trình tri ân khách hàng nào bằng việc tặng nước hoa, quà, hoặc một vài sản phẩm khác như một số bạn đã nhận được thông tin. </p>
            <p>Các bạn lưu ý tránh để kẻ gian trục lợi làm ảnh hưởng uy tín của Shop nhé ạ <br> Số điện thoại check đơn của nhân viên MixiShop lần lượt ở dưới đây. Các bạn vui lòng kiểm tra tin nhắn hoặc cuộc gọi check thông tin đơn hàng có khớp với các số này hay không nhé </p>
            <i class="fa-solid fa-phone-office" style="color: red;"></i><p style="color: red;"> Chi tiết xin liên hệ Hotline: 08290xxxxx / 08290<b>27752</b></p>
            <p>Bạn nào có tin nhắn hoặc cuộc gọi về việc nhận được quà tặng từ chương trình tri ân khách hàng vui lòng comment vào bài đăng inbox hoặc gọi trực tiếp vào hotline giúp chúng mình.</p>
            <p>CÓ MỘT YÊU CẦU NHỎ TRONG LẦN NÀY, CÁC BẠN QUAY LẠI VIDEO BÓC KIỆN HÀNG GIÚP SHOP. TRONG TRƯỜNG HỢP ĐỔI TRẢ (ĐỐI VỚI SẢN PHẨM LÀ ÁO, YÊU CẦU PHẢI CÒN NGUYÊN TAG MAC), NHẬN THIẾU HÀNG, CÁC BẠN GỬI LẠI VIDEO ĐÓ VÀ INBOX PAGE MIXISHOP ĐỂ ĐƯỢC HỖ TRỢ NHANH HẾT SỨC CÓ THỂ Ạ.</p>
            <p>Nếu có bất kì thắc mắc vui lòng inbox fanpage MixiShop để được giải đáp. Xin chân thành cám ơn và yêu thương rất nhiều</p>
            <p>Hiện tại bên shop CHƯA có bất cứ chương trình tri ân nào. Nếu có ưu đãi cũng sẽ được thông báo công khai trên các kênh CHÍNH THỨC VÀ DUY NHẤT sau đây: </p>
            <p>Website :  <a href="https://shop.mixigaming.com/">https://shop.mixigaming.com/</a> </p>
            <p>Fanpage :  <a href="https://www.facebook.com/MixiShop-182674912385853/" rel="nofollow" target="_blank">https://www.facebook.com/MixiShop-182674912385853/</a> </p>
            <p>Instagram :  <a href="https://www.instagram.com/mixi.shop/" rel="nofollow" target="_blank">https://www.instagram.com/mixi.shop/</a> </p>
            <p>Email : Mixiishop@gmail.com</p>
            <p>MixiShop xin vui lòng được phục vụ quý khách!</p>
        </div>

        <footer id="footer">
            <div id="top_footer">
                <div class="chungtoi">
                    <div class="dr">
                    <h5 style="font-size: 17px;">Về chúng tôi</h5>
                    <p style="line-height: 25px;">Website chính thức và duy nhất của MixiShop. Hiện tại chúng mình chỉ nhận đơn hàng trên website chứ không nhận bất kỳ nơi nào khác nhé!</p>
                    </div>
                </div>
                <div class="sanpham">
                    <div class="ftsp">
                    <h5 style="font-size: 17px;">Danh mục sản phẩm</h5>
                    <ul>
                        <li><a href="#">Áo CSGO</a></li>
                        <li><a href="#">Áo Mixi</a></li>
                        <li><a href="#">Áo PUBG</a></li>
                        <li><a href="#">Áo Refund Gaming</a></li>
                        <li><a href="#">Đồ lưu niệm Mixi</a></li>
                        <li><a href="#">Áo ba lỗ</a></li>
                    </ul>
                    </div>
                </div>
                <div class="sanpham">
                    <div class="ftsp">
                        <h5 style="font-size: 17px;">Thông tin</h5>
                        <ul>
                            <li><a href="#">Giới thiệu</a></li>
                            <li><a href="#">Chính sách bảo mật</a></li>
                            <li><a href="#">Tài khoản</a></li>
                            <li><a href="#">Sitemap</a></li>
                        </ul>
                        </div>
                </div>
                <div class="hotro">
                    <div class="chungtoi">
                        <div class="dr">
                        <h5 style="font-size: 17px;">Hỗ trợ</h5>
                        <p style="line-height: 25px;">Mọi thắc mắc và góp ý cần hỗ trợ xin vui lòng liên hệ Fanpage và Instagram</p>
                        <div class="fb"><i class="fa-brands fa-facebook-f"></i></div> <div class="ins"><i class="fa-brands fa-instagram"></i></div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="bot_footer"> <p style="text-align: center; text-transform: uppercase; margin: 0px 0px;">Copyright 2023 ©<strong>MixiShop</strong></p>  </div>
        </footer>
    </div>
</body>
</html>