<form action="" method="post">
    <input type="text" name="idSP" value="{{chitiet.id}}" hidden>
    <input type="text" name="tenSP" placeholder="nhập tên sản phẩm" value="{{chitiet.name}}" required>
    <input type="text" name="giaSP" placeholder="nhập giá sản phẩm" value="{{chitiet.price}}" required>
    <button type="submit">Sửa</button>
</form>
