<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>update</title>
</head>
<body>
    <form action="../findByIdAndUpdate" method="post">
    <input type="text" name="id" value="{{chitiet._id}}" hidden>
    <input type="text" name="productName" placeholder="nhập tên sản phẩm" value="{{chitiet.name}}" required>
    <input type="text" name="productPrice" placeholder="nhập giá sản phẩm" value="{{chitiet.price}}" required>
    <button type="submit">Sửa</button>
</form>
</body>
</html>