:root {
   --line-color: #bcbcbc;
   --main-color: #003468;
   --normal-color: #333;
   --accent-color: #EAAB49;
   --mrt-section: 50px;
   --font-size-heading-section: 28px;
}

body {
   font-family: "Open Sans", sans-serif;
   margin: 0;
   box-sizing: border-box;
}

a {
   text-decoration: none;
   color: var(--normal-color);
   transition-duration: 0.3s;
   transition-timing-function: ease-in-out;
}

a:hover {
   color: #c48c46;
}

.row {
   float: left;
   width: 100%;
}

.boxcenter {
   margin: 0 auto;
   width: 80%;
}

/* Css Product Detail */
/* Css Section Product Detail */
.product-detail {
   padding-top: 40px;
   border-top: 1px solid var(--line-color);
}

.boxcenter-detail {
   margin: 0 auto;
   width: 65%;
}

.container-product-detail {
   display: grid;
   grid-template-columns: 1fr 1fr;
   column-gap: 100px;
}

.box-image img {
   width: 100%;
}

.main-image {
   overflow: hidden;
}

.main-image img {
   transition: transform 300ms;
}

.main-image img:hover {
   cursor: pointer;
   transform: scale(1.2);
}

.small-image {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-items: center;
}

.small-image img {
   cursor: pointer;
   width: 20%;
}

.name-product-detail h3 {
   font-size: 30px;
   font-weight: 600;
   margin: 0;
}

.id-product {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-items: center;
}

.price-product-information p {
   color: var(--main-color);
   font-weight: 500;
   font-size: 25px;
   margin-top: 0;
   margin-bottom: 13px;
   text-align: start;
}

.contact p {
   color: var(--main-color);
   font-weight: 400;
   margin-top: 0;
}

.contact p span {
   font-weight: 600;
}

.contact p span .highlight {
   color: #AD2A36;
}

.endow table {
   border: 1.5px solid black;
   width: 100%;
   border-radius: 5px;
}

.endow table tr th {
   background-color: #F3F3F3;
   border-bottom: 1px solid black;
   padding: 10px 20px;
   text-align: start;
   font-weight: 500;
   font-size: 18px;
}

.endow table tr td ul li {
   padding: 0 10px;
   margin-bottom: 10px;
   font-size: 15px;
}

.button-payment {
   margin-top: 20px;
}

.button-payment button {
   border: 2px solid #AD2A36;
   outline: none;
   width: 100%;
   height: 50px;
   border-radius: 10px;
   font-size: 17px;
   font-weight: 700;
   color: white;
   background-color: #AD2A36;
   cursor: pointer;
   transition-duration: .3s;
   transition-timing-function: ease-in-out;
}

.button-payment button:hover {
   background-color: white;
   color: #AD2A36;
}

.double-button {
   margin-top: 20px;
   display: grid;
   grid-template-columns: 1fr 1fr;
   column-gap: 20px;
}

.button-love-product a button, 
.button-addcart input[type=submit] {
   width: 100%;
   border: 2px solid var(--main-color);
   outline: none;
   height: 50px;
   border-radius: 10px;
   font-size: 17px;
   font-weight: 700;
   color: white;
   background-color: var(--main-color);
   cursor: pointer;
   transition-duration: .3s;
   transition-timing-function: ease-in-out;
}

.button-love-product a button:hover, 
.button-addcart input[type=submit]:hover {
   color: var(--main-color);
   background-color: white;
}

.notification {
   margin-top: 15px;
   box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
               rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
   text-align: center;
   color: var(--main-color);
   border-radius: 5px;
   background-color: var(--accent-color);
}

.notification p {
   font-size: 18px;
}

/* Css Product Information */
.product-information {
   margin-top: var(--mrt-section);
}

.container-information {
   padding: 15px 35px;
   border-radius: 10px;
   box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
               rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.title-information {
   border-bottom: 1px solid var(--line-color);
}

.title-information h3 {
   font-weight: 600;
   font-size: 25px;
}

.information ul {
   list-style: none;
   padding: 0;
}

.information ul li {
   margin-bottom: 12px;
   font-size: 16px;
}

.information p {
   font-size: 15px;
   margin-top: 18px;
}

/* Css Product Comment */
.product-comment {
   margin-top: var(--mrt-section);
}

.title-comment {
   border-bottom: 1px solid var(--line-color);
}

.title-comment h3 {
   font-weight: 600;
   font-size: 25px;
}

.box-comment p {
   font-size: 16px;
}

.box-comment input[type=text] {
   box-sizing: border-box;
   outline: none;
   width: 100%;
   border: 1px solid var(--line-color);
   height: 35px;
   border-radius: 5px;
   padding-left: 15px;
   transition-duration: .3s;
   transition-timing-function: ease-in-out;
}

.box-comment input[type=text]:focus {
   border: 1px solid var(--main-color);
   color: var(--main-color);
}


.main-comment input[type=submit], .main-comment input[type=button] {
   margin-top: 20px;
   width: 200px;
   border: 2px solid var(--main-color);
   outline: none;
   height: 50px;
   border-radius: 10px;
   font-size: 16px;
   font-weight: 700;
   color: white;
   background-color: var(--main-color);
   cursor: pointer;
   transition-duration: .3s;
   transition-timing-function: ease-in-out;
}

.main-comment input[type=submit]:hover, .main-comment input[type=button]:hover {
   color: var(--main-color);
   background-color: white;
}

/* Css Comment Of Customer */
.comment-of-customer {
   margin-top: var(--mrt-section);
}

.container-comment-of-customer {
   background-color: #F3F3F3;
   padding: 20px 35px;
   border-radius: 10px;
   box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
               rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.title-comment-of-customer {
   border-bottom: 1px solid var(--line-color);
}

.title-comment-of-customer h3 {
   font-weight: 600;
   font-size: 25px;
   margin-top: 10px;
}

.box-customer {
   background-color: white;
   margin-top: 20px;
   padding: 10px 20px;
   border-radius: 10px;
}

.box-customer p {
   color: var(--main-color);
   font-weight: 600;
   font-size: 16px;
   margin-top: 0;
}

.box-customer span {
   font-size: 15px;
}

/* CSS Box Sản Phẩm Bán Chạy */
.box-san-pham-ban-chay {
   margin-top: var(--mrt-section);
}

.box-san-pham-ban-chay h1 {
   font-size: var(--font-size-heading-section);
   color: var(--main-color);
   font-weight: 600;
   text-align: center;
}

.container-san-pham-ban-chay {
   margin-top: 20px;
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-items: center;
   gap: 20px;
}

.product {
   height: 495px;
   width: 300px;
   background-color: #f5f9fc;
   border-radius: 5px;
   transition-duration: .3s;
   transition-timing-function: ease-in-out;
}

.product:hover {
   box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
               rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.img-product {
   display: grid;
   place-items: center;
}

.img-product img {
   width: 250px;
}

.three-icon-product {
   display: grid;
   place-items: center;
 }
 
 .container-three-icon-product {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-items: center;
   width: 180px;
 }
 
 .icon-pro {
   opacity: 0;
   visibility: hidden;
   cursor: pointer;
   box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
     rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
   background-color: var(--main-color);
   border-radius: 50%;
   padding: 8px 11px;
   transition-duration: .3s;
   transition-timing-function: ease-in-out;
 }
 
 .product:hover .icon-pro {
   opacity: 1;
   visibility: visible;
 }
 
 .icon-pro i {
   color: var(--accent-color);
   font-size: 17px;
 }
 
 .icon-pro:hover {
   transform: translateY(-5px);
   background-color: var(--accent-color);
 }
 
 .icon-pro:hover i {
   color: var(--main-color);
 }

.text-product {
   margin-top: 0;
}

.name-product {
   height: 35px;
}

.name-product h4 {
   text-align: center;
   font-weight: 500;
}

.price-product p {
   text-align: center;
   font-size: 16px;
   color: var(--line-color);
   text-decoration: line-through;
 }
 
 .price-product-sale p {
   font-size: 18px;
   text-align: center;
   color: var(--accent-color);
   font-weight: 600;
 }

.description-product {
   padding: 0 20px;
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-items: center;
}

.stars {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-items: center;
   gap: 5px;
   font-size: 13px;
}

.sold {
   font-size: 13px;
}

.button-see-more {
   margin-top: 30px;
   display: grid;
   place-items: center;
}

.button-see-more button {
   cursor: pointer;
   outline-style: none;
   border: 2px solid var(--main-color);
   width: 150px;
   height: 35px;
   border-radius: 3px;
   background-color: white;
   color: var(--main-color);
   transition-duration: .3s;
   transition-timing-function: ease-in-out;
}

.button-see-more button:hover {
   background-color: var(--main-color);
   color: white;
}






