:root {
   --line-color: #bcbcbc;
   --main-color: #003468;
   --normal-color: #333;
   --accent-color: #EAAB49;
   --mrt-section: 50px;
   --font-size-heading-section: 28px;
}

body {
   font-family: "Open Sans", sans-serif;
   margin: 0;
   box-sizing: border-box;
}

a {
   text-decoration: none;
   color: var(--normal-color);
   transition-duration: 0.3s;
   transition-timing-function: ease-in-out;
}

a:hover {
   color: #c48c46;
}

.row {
   float: left;
   width: 100%;
}

.boxcenter {
   margin: 0 auto;
   width: 80%;
}

/* Css Box Information */
.information {
   border-top: 1px solid var(--line-color);
}

.title-information-payment {
   display: flex;
   flex-direction: row;
   gap: 10px;
   align-items: center;
}

.title-information-payment p {
   font-size: 15px;
}

.title-information-payment p:last-child {
   font-weight: 600;
   color: var(--main-color);
}

.container-information {
   display: grid;
   grid-template-columns: 4fr 2.5fr;
   column-gap: 50px;
}

/* Css Information Customer */
.information-customer {
   margin-top: 15px;
}

.title-infor-customer {
   background-color: #EAAB49;
   border-radius: 5px;
   padding: 10px 15px;
}

.title-infor-customer h3 {
   font-weight: 600;
   font-size: 20px;
   margin: 0;
}

.container-input-infor {
   margin-top: 10px;
   display: grid;
   grid-template-columns: 1fr 1fr;
   grid-template-rows: auto;
   column-gap: 30px;
   row-gap: 15px;
}

.box-input-infor input {
   box-sizing: border-box;
   width: 100%;
   height: 35px;
   border-radius: 3px;
   border: 1px solid var(--line-color);
   outline: none;
   padding-left: 15px;
   transition-duration: .3s;
   transition-timing-function: ease-in-out;
}

.box-input-infor input:focus {
   box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
               rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
   border: 1px solid var(--main-color);
}

/* Css Payment Customer */
.payment-customer {
   margin-top: 45px;
}

/* Css Radio Payment */
.container-radio-payment {
   margin-top: 20px;
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-items: center;
}

.box-radio-payment {
   width: 350px;
}

.box-radio-payment input[type=radio] {
   display: none;
}

.box-radio-payment input[type=radio] ~ label {
   cursor: pointer;
}

.box-radio-payment input[type=radio] ~ label {
   padding: 18px;
   display: grid;
   place-items: center;
   border-radius: 5px;
   background-color: var(--line-color);
   transition-duration: .3s;
   transition-timing-function: ease-in-out;
}

.box-radio-payment input[type=radio]:checked ~ label {
   background-color: var(--main-color);
   color: white;
}

.box-radio-payment label p {
   margin-top: 0;
   margin-bottom: 10px;
   font-weight: 600;
   font-size: 17px;
}

.box-radio-payment label span {
   font-size: 12px;
}

/* Css Address Payment */
.address-payment {
   margin-top: 10px;
}

.box-input-address {
   margin-top: 15px;
}

.box-input-address input {
   box-sizing: border-box;
   width: 100%;
   width: 100%;
   height: 35px;
   border-radius: 3px;
   border: 1px solid var(--line-color);
   outline: none;
   padding-left: 15px;
   transition-duration: .3s;
   transition-timing-function: ease-in-out;
}

.box-input-address input:focus {
   box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
               rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
   border: 1px solid var(--main-color);
}

.payment-shipping {
   margin-top: 30px;
}

.payment-shipping h3 {
   font-weight: 600;
   margin-bottom: 20px;
}

.payment-shipping input[type=radio] {
   display: none;
}

.payment-shipping label {
   cursor: pointer;
   position: relative;
   margin: 0;
}

.payment-shipping label::before{
   content: '';
   width: 20px;
   height: 20px;
   border-radius: 50%;
   position: absolute;
   top: 50%;
   transform: translateY(-50%);
   left: 15px;
   background: #fff;
   border: 1px solid var(--line-color);
}

.payment-shipping input[type=radio]:checked ~ label::after {
   content: '';
   width: 12px;
   height: 12px;
   border-radius: 50%;
   position: absolute;
   top: 50%;
   transform: translateY(-50%);
   left: 20px;
   background: var(--main-color);
}

.payment-shipping input[type=radio]:checked ~ label .text-label-payment{
   border: 2px solid var(--main-color);
   border-radius: 3px;
   padding: 0px 0px 15px 15px;
}

.payment-shipping label p,
.payment-shipping label span {
   margin-left: 40px;
}

.payment-shipping label p {
   font-weight: 600;
   margin-bottom: 10px;
   margin-top: 10px;
}

.payment-shipping label span {
   font-size: 14px;
}

/* Css Button Payment */
.button-payment {
   margin-top: 25px;
   display: grid;
   place-items: center;
}

.button-payment button {
   cursor: pointer;
   outline: none;
   border: 3px solid var(--main-color);
   border-radius: 3px;
   width: 200px;
   height: 50px;
   font-weight: 500;
   font-size: 17px;
   color: white;
   background-color: var(--main-color);
   transition-duration: .3s;
   transition-timing-function: ease-in-out;
}

.button-payment button:hover {
   background-color: white;
   color: var(--main-color);
}

/* Css Box Cart Detail  */
.box-cart-detail {
   border: 1px solid var(--line-color);
   border-radius: 3px;
   padding: 0 20px;
}

.box-cart-detail h3 {
   font-weight: 600;
   font-size: 20px;
   padding-bottom: 10px;
   border-bottom: 1px solid var(--line-color);
}

/* Css Main Product Cart Detail */
.box-product-cart-detail {
   border-bottom: 1px solid var(--line-color);
   padding-bottom: 15px;
   margin-bottom: 15px;
}

.container-product-cart-detail {
   display: flex;
   flex-direction: row;
   align-items: start;
   justify-content: start;
   gap: 15px;
}

.container-product-cart-detail img {
   width: 40%;
}

.main-pro-cart-detail p {
   margin-top: 0;
   font-weight: 500;
   font-size: 15px;
}

.main-pro-cart-detail h6 {
   margin-top: 0;
   margin-bottom: 20px;
   font-weight: 600;
   font-size: 17px;
}

.main-pro-cart-detail p span {
   color: var(--accent-color);
}

.quantity-pro-cart-detail {
   display: flex;
   flex-direction: row;
   gap: 20px;
   justify-content: start;
   align-items: center;
   margin-bottom: 20px;
}

.quantity-pro-cart-detail p {
   margin: 0;
   padding: 0;
}

.quantity-pro-cart-detail input {
   box-sizing: border-box;
   width: 20%;
   height: 30px;
   padding-left: 10px;
   border: 1px solid var(--line-color);
   outline: none;
   border-radius: 3px;
   transition-duration: .3s;
   transition-timing-function: ease-in-out;
}

.quantity-pro-cart-detail input:focus {
   border: 1px solid var(--main-color);
}

.button-delete-pro-cart-detail button {
   cursor: pointer;
   outline: none;
   border: none;
   background-color: var(--line-color);
   height: 30px;
   width: 80px;
   border-radius: 3px;
   transition-duration: .3s;
   transition-timing-function: ease-in-out;
}

.button-delete-pro-cart-detail button:hover {
   background-color: var(--main-color);
   color: white;
}

/* Css Box Voucher */
.box-voucher {
   border-bottom: 1px solid var(--line-color);
   padding-bottom: 15px;
   margin-bottom: 15px;
}

.box-voucher h3 {
   border-bottom: none;
   margin-bottom: 10px;
}

.container-input-voucher {
   display: grid;
   grid-template-columns: 3fr 1fr;
   column-gap: 15px;
   align-items: start;
}

.container-input-voucher input {
   box-sizing: border-box;
   height: 40px;
   padding-left: 15px;
   outline: none;
   border: 1px solid var(--line-color);
   border-radius: 3px;
   transition-duration: .3s;
   transition-timing-function: ease-in-out;
}

.container-input-voucher input[type=submit] {
   font-weight: 500;
   cursor: pointer;
}

.container-input-voucher input[type=text]:focus {
   border: 1px solid var(--main-color);
}

.container-input-voucher input[type=submit]:hover {
   background-color: var(--main-color);
   color: white;
}

.content-voucher {
   margin-top: 20px;
   border: 1px solid var(--main-color);
   border-radius: 3px;
   padding: 0 15px;
}

.content-voucher h6 {
   font-size: 15px;
   margin-top: 10px;
   margin-bottom: 10px;
   color: var(--main-color);
}

.content-voucher ul li {
   font-size: 15px;
}

/* Css Box Total */
.box-total {
   border-bottom: 1px solid var(--line-color);
}

.container-total {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-items: center;
}

.container-total p,
.container-total span {
   font-size: 17px;
   margin: 0;
   padding-bottom: 15px;
}

.container-total p {
   font-weight: 600;
}

.container-total .discount {
   color: var(--accent-color);
}

.container-total .shipping {
   font-weight: 600;
}

/* Css Box Subtotal */
.box-subtotal {
   margin-top: 15px;
}

.container-total .subtotal {
   color: #AD2A36;
   font-weight: 600;
}







