:root {
  --line-color: #bcbcbc;
  --main-color: #003468;
  --normal-color: #333;
  --accent-color: #EAAB49;
  --mrt-section: 50px;
  --font-size-heading-section: 28px;
}

ul {
  list-style: none;
}

body {
  font-family: "Open Sans", sans-serif;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: var(--normal-color);
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
}

a:hover {
  color: #c48c46;
}

.row {
  float: left;
  width: 100%;
}

.boxcenter {
  margin: 0 auto;
  width: 80%;
}

/* CSS Header */
.main-header {
  margin-top: 15px;
}

/* CSS Box One Main Header */
.container-box-one-main-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 10px;
  border-bottom: 1px solid var(--line-color);
}

.shop-information-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 25px;
}

.location-shop,
.phone-shop,
.my-account,
.my-heart,
.my-cart {
  box-sizing: border-box;
}

.location-shop i,
.phone-shop i,
.my-account i,
.my-heart i,
.my-cart i {
  font-size: 25px;
  margin-right: 10px;
}

.my-cart {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.main-cart {
  position: relative;
}

.box-quantity-cart {
  position: absolute;
  top: -10px;
  left: 10px;
  border-radius: 50%;
  background-color: #ad2a36;
  color: white;
  padding: 4px 10px;
}

.box-quantity-cart p {
  margin: 0;
  font-size: 14px;
}

.location-shop a,
.phone-shop a,
.my-account a,
.my-heart a,
.my-cart a {
  font-size: 15px;
}

.logo-header {
  text-align: center;
}

.logo-header img {
  width: 35%;
}

.account-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 25px;
}

/* CSS Box Two Main Header */
.container-box-two-main-header {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.menu-header .nav {
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 35px;
}

.menu-header ul li {
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
}

.menu-header .nav li:last-child a span {
  font-weight: 600;
  color: #ad2a36;
}

/* Css Form Input Login */
.form-input {
  margin-bottom: var(--mrr-bottom);
}

.container-form-input {
  gap: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Css Box Form One */
.box-form-one {
  padding: 25px 25px 30px 25px;
  border: 1px solid var(--line-color);
}

.box-form-one h3 {
  font-size: 42px;
  font-weight: 500;
  margin-bottom: 0;
}

.box-form-one p {
  font-size: 15px;
}

.box-form-one form {
  margin-top: 30px;
}

.box-input {
  margin-bottom: 20px;
}

.box-input a {
  font-size: 13px;
}

.box-input p {
  font-size: 17px;
  margin-bottom: 10px;
}

.box-input input[type="text"],
.box-input input[type="password"] {
  outline: none;
  border: 1px solid var(--line-color);
  border-radius: 3px;
  height: 45px;
  width: 350px;
  padding-left: 10px;
  box-sizing: border-box;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
}

.box-input input[type="text"]:focus,
.box-input input[type="password"]:focus {
  border: 1px solid var(--main-color);
}

.box-form-one form input[type="submit"] {
  cursor: pointer;
  outline: none;
  border: 3px solid var(--main-color);
  height: 55px;
  width: 350px;
  border-radius: 3px;
  background-color: var(--main-color);
  color: white;
  font-weight: 600;
  font-size: 17px;
  margin-top: 10px;
  margin-bottom: 20px;
  transition-duration: 0.4s;
  transition-timing-function: ease-in-out;
}

.box-form-one form input[type="submit"]:hover {
  background-color: white;
  color: var(--main-color);
}

.box-form-one p:last-child {
  margin: 0;
  font-size: 16px;
  color: var(--main-color);
  font-weight: 600;
  text-align: center;
}

/* Css Box Social Login */
.social-login {
  margin-top: 20px;
}

.button-login {
  margin-bottom: 20px;
}

.button-login button {
  outline: none;
  border: none;
  background-color: white;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  border-radius: 7px;
  padding: 3px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 50px;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
}

.button-login button:hover {
  cursor: pointer;
  transform: translateY(-5px);
  background-color: var(--main-color);
  color: white;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.button-login button img {
  width: 8%;
}

.button-login button p {
  font-size: 17px;
  font-weight: 600;
}

/* Css Box Form Two */
.box-form-two {
  width: 400px;
}

.box-form-two h4 {
  text-align: center;
  padding-bottom: 20px;
  font-size: 22px;
  font-weight: 600;
}

.box-form-two a {
  border: 3px solid var(--main-color);
  border-radius: 3px;
  color: var(--main-color);
  font-size: 18px;
  font-weight: 600;
  padding: 15px 100px 15px 100px;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
}

.box-form-two a:hover {
  background-color: #0034682c;
}

.box-text-input {
  margin-left: 28px;
  padding-top: 25px;
}

.box-text-input p {
  font-size: 14px;
}

.box-text-input p:first-child,
.box-text-input span {
  color: var(--main-color);
  font-weight: 600;
}

/* .menu-header ul li:hover {
  transform: translateY(-5px);
} */

.search-header {
  position: relative;
}

.search-header input {
  outline: none;
  border: none;
  background-color: lightgray;
  width: 320px;
  height: 35px;
  border-radius: 30px;
  padding-left: 20px;
}

.search-header button {
  position: absolute;
  right: 10px;
  background-color: lightgray;
  height: 35px;
  font-size: 16px;
  border-radius: 50%;
  outline: none;
  border: none;
  cursor: pointer;
}
.banner-header {
  z-index: 1;
}
/* CSS Box Banner Header */
.main-banner-header img {
  width: 100%;
}

.small-banner-header img {
  width: 100%;
}

.container-small-banner-header {
  margin-top: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 30px;
}

.box-small-banner {
  overflow: hidden;
}

.box-small-banner img {
  transition: transform 300ms;
}

.box-small-banner img:hover {
  transform: scale(1.1);
}

/* CSS Box Xu Hướng Tìm Kiếm */
.box-xu-huong-tim-kiem {
  margin-top: var(--mrt-section);
}

.box-xu-huong-tim-kiem h1 {
  font-weight: 600;
  text-align: center;
  color: var(--main-color);
  font-size: var(--font-size-heading-section);
}

.container-xu-huong-tim-kiem {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.box-san-pham-xu-huong a {
  border-radius: 50%;
}

.box-san-pham-xu-huong img {
  height: 140px;
  width: 100%;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
}

.box-san-pham-xu-huong img:hover {
  transform: translateY(-10px);
}

.box-san-pham-xu-huong p {
  text-align: center;
}

/* CSS Box Thương Hiệu Nổi Bật */
.box-thuong-hieu-noi-bat {
  margin-top: var(--mrt-section);
}

.box-thuong-hieu-noi-bat h1 {
  font-size: var(--font-size-heading-section);
  color: var(--main-color);
  font-weight: 600;
  text-align: center;
}

.container-thuong-hieu-noi-bat {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.box-thuong-hieu img {
  width: 100%;
  height: 380px;
  border-radius: 5px;
}

/* CSS Box Sản Phẩm Bán Chạy */
.box-san-pham-ban-chay {
  margin-top: var(--mrt-section);
}

.box-san-pham-ban-chay h1 {
  font-size: var(--font-size-heading-section);
  color: var(--main-color);
  font-weight: 600;
  text-align: center;
}

.container-san-pham-ban-chay {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.container-san-pham-ban-chay-search {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 20px;
  row-gap: 40px;
  grid-template-rows: auto;
}

.product {

  background-color: #f5f9fc;
  border-radius: 5px;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
}

.product:hover {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.img-product img {
  width: 100%;
}

.three-icon-product {
  display: grid;
  place-items: center;
}

.container-three-icon-product {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 180px;
}

.icon-pro {
  opacity: 0;
  visibility: hidden;
  cursor: pointer;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  background-color: var(--main-color);
  border-radius: 50%;
  padding: 8px 11px;
  transition-duration: .3s;
  transition-timing-function: ease-in-out;
}

.product:hover .icon-pro {
  opacity: 1;
  visibility: visible;
}

.icon-pro i {
  color: var(--accent-color);
  font-size: 17px;
}

.icon-pro:hover {
  transform: translateY(-5px);
  background-color: var(--accent-color);
}

.icon-pro:hover i {
  color: var(--main-color);
}

.text-product {
  margin-top: 0;
}

.name-product h4 {
  text-align: center;
  font-weight: 500;
}

.price-product p {
  text-align: center;
  font-size: 16px;
  color: var(--line-color);
  text-decoration: line-through;
}

.price-product-sale p {
  font-size: 18px;
  text-align: center;
  color: var(--accent-color);
  font-weight: 600;
}

.description-product {
  padding: 0 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.stars {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 5px;
  font-size: 13px;
}

.sold {
  font-size: 13px;
}

.button-see-more {
  margin-top: 50px;
  display: grid;
  place-items: center;
}

.button-see-more button {
  cursor: pointer;
  outline-style: none;
  border: 2px solid var(--main-color);
  width: 150px;
  height: 35px;
  border-radius: 3px;
  background-color: white;
  color: var(--main-color);
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
}

.button-see-more button:hover {
  background-color: var(--main-color);
  color: white;
}

.pagination {
  font-size: 20px;
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
  justify-content: space-between;
}

.pagination a:first-child,
.pagination a:last-child {
  border: 1px solid var(--line-color);
  padding: 2px 10px 5px 10px;
  border-radius: 5px;
  transition-duration: .3s;
  transition-timing-function: ease-in-out;
}

.pagination a:first-child:hover {
  border: 1px solid var(--accent-color);
  transform: translateX(-5px);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.pagination a:last-child:hover {
  border: 1px solid var(--accent-color);
  transform: translateX(5px);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}





/* CSS Box Bộ Sưu Tập Mới */
.box-bo-suu-tap-moi {
  margin-top: var(--mrt-section);
}

.box-bo-suu-tap-moi h1 {
  font-size: var(--font-size-heading-section);
  color: var(--main-color);
  font-weight: 600;
  text-align: center;
}

.collection img {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  height: 500px;
  border-radius: 5px;
}

/* CSS Banner Small */
.banner-small {
  margin-top: var(--mrt-section);
}

.banner-small img {
  width: 100%;
}

/* CSS Box Tư Vấn */
.box-tu-van {
  margin-top: var(--mrt-section);
}

.boxcenter-tu-van {
  margin: 0 auto;
  width: 80%;
  position: relative;
}

.tieu-de-tu-van {
  padding: 25px 0 60px 0;
  background-color: #003468;
}

.tieu-de-tu-van h1 {
  font-size: 35px;
  color: white;
  font-weight: 600;
  text-align: center;
}

.container-tu-van {
  position: absolute;
  top: -40px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 20px;
}

.tu-van i {
  background-color: white;
  color: #003468;
  font-size: 80px;
  padding: 20px 30px 20px 30px;
  border-radius: 50%;
}

.noi-dung-tu-van h4 {
  text-align: center;
}

.noi-dung-tu-van p {
  text-align: center;
  width: 50%;
}

/* CSS Box News */
.box-news {
  margin-top: 270px;
}

.box-news h1 {
  font-size: var(--font-size-heading-section);
  color: var(--main-color);
  font-weight: 600;
  text-align: center;
}

.container-news {
  margin-top: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 30px;
  gap: 15px;
}

.news {
  overflow: hidden;
}

.news img {
  height: 200px;
  width: 100%;
  object-fit: cover;
  transition: transform 300ms;
}

.news img:hover {
  transform: scale(1.1);
}

.news h4 {
  text-align: center;
  font-weight: 500;
}

/* CSS Footer */
.box-footer {
  margin-top: var(--mrt-section);
  margin-bottom: 20px;
}

.container-footer {
  padding-top: 10px;
  border-top: 1px solid var(--line-color);
}

.container-footer ul {
  padding: 0;
  list-style: none;
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr;
  gap: 10px;
}

.container-footer ul li {
  font-size: 12px;
}

.container-footer ul li p {
  width: 80%;
}

.container-footer ul li ul {
  display: flex;
  flex-direction: column;
  padding: 0;
}

.container-footer ul li ul li {
  font-size: 12px;
}

.container-social {
  padding-top: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.container-social i {
  font-size: 28px;
}
.container-footer ul li img {
  width: 60%;
}

.container-footer ul li h1 {
  margin-top: 15px;
  font-weight: 400;
  font-size: 15px;
  color: var(--main-color);
}

.container-footer ul li h4 {
  font-size: 16px;
}

/* Css Mega Box Menu */
.mega-box {
  position: absolute;
  width: 100%;
  left: 0;
  opacity: 0;
  /* display: none; */
  visibility: hidden;
  transition: visibility 0s, opacity 0.4s linear;
}

.nav li a span {
  padding-bottom: 20px;
}

.nav li:hover .mega-box {
  top: 50px;
  opacity: 1;
  /* display: block; */
  visibility: visible;
}

.content {
  border-radius: 5px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  background: #003468;
  margin: 0 auto;
  padding-left: 20px;
  display: flex;
  width: 100%;
  justify-content: flex-start;
  align-items: start;
  gap: 20px;
}

.main {
  width: 25%;
  line-height: 40px;
}

.main:nth-child(2) {
  padding-right: 50px;
}

.main p {
  color: var(--accent-color);
  font-size: 21px;
  font-weight: 700;
  padding: 0 20px;
  margin: 15px 0px;
}

.mega-links {
  height: 250px;
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: start;
}

.mega-links li {
  width: 60%;
}

.mega-links li a {
  padding: 0 20px;
  color: white;
  font-size: 15px;
  display: inline-block;
  width: 80%;
  transition-duration: .3s;
  transition-timing-function: ease-in-out; 
}

.mega-links li a:hover {
  transform: translateX(-5px);
  color: var(--accent-color);
} 

/* Css Hover Account Login */
.my-account {
  position: relative;
  display: inline-block;
}

.dropdown-menu {
  /* display: none; */
  visibility: hidden;
  opacity: 0;
  position: absolute;
  z-index: 1;
  list-style: none;
  padding: 0;
  margin: 0;
  transition: visibility 0s, opacity 0.4s linear;
}

.my-account:hover .dropdown-menu {
  /* display: block; */
  visibility: visible;
  opacity: 1;
  border-radius: 3px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.dropdown-menu li {
  width: 250px;
  background-color: #f3f3f3;
  padding: 12px 15px;
  border-bottom: 1px solid #ddd;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
}

.dropdown-menu li a:hover {
  color: var(--accent-color);
  transform: translateX(5px);
}

.dropdown-menu li:last-child {
  border-bottom: none;
}

.dropdown-menu a {
  text-decoration: none;
  color: #333;
  display: block;
}


/* /////////////////////////////////// */
/* .box-nhan-hang {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: auto;
}

.promotion-banner {
  display: flex;
  justify-content: center;
  width: 100%;
}

.promotion-banner img {
  margin: 0 5px; 
}
.tieu-de-tu-van {
  width: 1200px;
  height: 50px;
  margin-bottom: 20px;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 31px 0 40px 0;
  color: #bcbcbc;
}
.tieu-de-tu-van h1{
  margin: 0;
  color: #bcbcbc;
} */
/* /////////////////////////////////// */
/* .uu-dai-he-thong {
  margin-bottom: 30px;
}
.center-box-uu-dai h1 {
  font-size: var(--font-size-heading-section);
  color: var(--main-color);
  font-weight: 600;
  text-align: center;
}
.center-phu-uu-dai h1 {
  font-size: var(--font-size-heading-section);
  color: var(--main-color);
  font-weight: 600;
  text-align: center;
} */
/* .chart {
  display: flex;
  gap: 20px; Khoảng cách giữa các div
  margin-left: 150px;
}

.region {
  text-align: center;
  margin: 0 10px;
  width: 170px;
}

.light {
  width: 170px;
  height: 110px;
  background-color: #003468;
  margin-bottom: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
} */
/* /////////////////////////////////// */
/* .uu-dai-nhan-hang {
  margin-top: 20px;
}
.center-uu-dai-nhan-hang h1 {
  font-size: var(--font-size-heading-section);
  color: var(--main-color);
  font-weight: 600;
  text-align: center;
}
.box-anh-uu-dai {
  display: flex;
  justify-content: center;
} */

/* .anh-uu-dai {
  margin: 0 40px; Khoảng cách giữa hai ảnh
  
} */

/* .anh-uu-dai img {
  max-width: 100%; Đảm bảo ảnh không vượt quá kích thước của div
  display: block;
  margin: 0 auto; Canh giữa ảnh trong div
} */
/* /////////////////////////////////// */
/* .center-qua-tang{
  margin-top: 20px;
}
.center-qua-tang h1 {
  font-size: var(--font-size-heading-section);
  color: var(--main-color);
  font-weight: 600;
  text-align: center;
} */
/* .anh-phieu-qt {
  text-align: center; Căn giữa nội dung
} */

/* .anh-phieu-qt img {
  display: inline-block;
  width: 874px; Đặt chiều rộng
  height: 620px; Đặt chiều cao
  margin: 0 auto; Canh giữa ảnh
}      */