/*!********************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[3]!./public/css/payment.css ***!
  \********************************************************************************************************************************************************************************************************************************************************************/
:root {
   --font-family-body: "Open Sans", sans-serif;
   --font-family-title: "Nunito", sans-serif; 
   --color-primary: #382210;
   --color-secondary: #FFE8CF;
   --color-tertiary: #96725A;
   --color-body-bg: #fff;
   --color-body: #6F6F6F;
   --font-weight-paragraph: 400;
   --font-weight-title: 600;
}

/* Body payment */
.body-payment {
   margin: 70px 0;
}

.boxcenter-payment {
   width: 78%;
   margin: 0 auto;
}

.container-payment {
   display: grid;
   grid-template-columns: 1fr 1fr;
   grid-column-gap: 50px;
   column-gap: 50px;
}

/* Info payment */
.info-payment h2 {
   font-size: 22px;
}

.input-payment {
   margin-bottom: 10px;
}

.input-payment p {
   font-size: 15px;
   margin-bottom: 5px;
}

.input-payment input,
.input-payment select {
   box-sizing: border-box;
   -webkit-appearance: none;
   -moz-appearance: none;
        appearance: none;
   outline: none;
   border: 1px solid rgba(0, 0, 0, 20%);
   width: 100%;
   height: 45px;
   padding-left: 12px;
   border-radius: 3px;
}

.method-payment {
   margin-top: 30px;
}

.main-btn__payment {
   width: 100%;
   margin-top: 30px;
   background-color: var(--color-tertiary);
}

.main-btn__payment:hover {
   background-color: var(--color-primary);
}

/* Products payment */
.main-products-payment {
   border: 1px solid rgba(0, 0, 0, 20%);
   border-radius: 3px;
   padding: 20px 25px;
}

.title-products-payment {
   border-bottom: 1px solid rgba(0, 0, 0, 20%);
}

.title-products-payment h2 {
   font-size: 22px;
   margin-bottom: 10px;
}

.container-products-payment {
   display: flex;
   flex-direction: column;
}

.product-payment {
   padding-bottom: 15px;
   display: flex;
   justify-content: space-between;
   border-bottom: 1px solid rgba(0, 0, 0, 20%);
}

.product-payment:last-child {
   border-bottom: none;
}

.name-pro-payment {
   color: var(--color-tertiary);
   font-size: 15px;
   margin-bottom: 10px;
}

.content-pro-payment {
   font-size: 12px;
   margin: 8px 0;
}

.total-price-pro-payment {
   color: var(--color-tertiary);
   font-weight: 600;
}

.main-total-products-payment {
   margin-top: 100px;
}

.main-total-products-payment h2 {
   font-size: 22px;
   margin-bottom: 15px;
}

.container-total-products-payment {
   display: flex;
   flex-direction: column;
   gap: 10px;
}

.result-subtotal {
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.result-subtotal__0 p {
   font-weight: 600;
   color: var(--color-body);
   margin: 0;
   font-size: 14px;
}

.result-subtotal__1 p {
   font-weight: 600;
   color: var(--color-tertiary);
   font-size: 18px;
   margin: 0;
}

/*!***************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[3]!./public/css/login_register.css ***!
  \***************************************************************************************************************************************************************************************************************************************************************************/
:root {
   --font-family-body: "Open Sans", sans-serif;
   --font-family-title: "Nunito", sans-serif; 
   --color-primary: #382210;
   --color-secondary: #FFE8CF;
   --color-tertiary: #96725A;
   --color-body-bg: #fff;
   --color-body: #6F6F6F;
   --font-weight-paragraph: 400;
   --font-weight-title: 600;
}

.boxcenter-account {
   margin: 0 auto;
   width: 55%;
}

/* Banner title other page */
.banner-title-other-page {
   background-color: var(--color-secondary);
   background-image: url(/public/images/other/bg-title-orderPage.webp);
   background-position: -180px -120px;
}

.overlay-bg {
   position: relative;
}

.overlay-bg::before {
   position: absolute;
   content: "";
   background-color: rgba(0, 0, 0, 20%);
   width: 100%;
   height: 100%;
   top: 0;
   left: 0;
   z-index: 1;
}

.main-title-other-page {
   display: grid;
   place-items: center;
   padding: 18px 0;
}

.main-title-other-page p {
   z-index: 2;
   margin: 0;
   color: #fff;
   font-weight: 400;
   font-size: 14px;
}

/* User login and register account */
main.account-login-register {
   margin: 70px 0;
   display: grid;
   place-items: center;
}

.container-account {
   display: grid;
   grid-template-columns: 1fr .8fr;
   grid-gap: 10px;
   gap: 10px;
   align-items: center;
   justify-items: center;
}

/* Form user login or user register */
.form-user-submit {
   border: 1px solid rgba(0, 0, 0, 10%);
   padding: 40px 30px 30px 30px;
   width: 390px;
}

.form-user-submit h1 {
   font-family: var(--font-family-title);
   font-weight: 600;
   font-size: 30px;
}

.form-user-submit p {
   font-weight: 400;
   font-size: 14px;
}

.main-form {
   margin-top: 30px;
}

.section-input p {
   margin-bottom: 5px;
   font-size: 15px;
}

.section-input input {
   box-sizing: border-box;
   outline: none;
   border: 1px solid rgba(0, 0, 0, 20%);
   width: 100%;
   height: 45px;
   border-radius: 3px;
   padding-left: 12px;
   margin-bottom: 10px;
}

.main-form .main-button-form-user {
   cursor: pointer;
   margin-top: 15px;
   outline: none;
   border: none;
   width: 100%;
   height: 50px;
   border-radius: 3px;
   background-color: var(--color-primary);
   color: #fff;
   font-weight: 500;
   font-size: 14px;
   transition: all 0.3s ease-in-out;
}

.main-form .main-button-form-user:hover {
   background-color: var(--color-tertiary);
}

.main-form .forgot-password {
   display: grid;
   place-items: center;
   margin-top: 20px;
   font-weight: 500;
   color: var(--color-primary);
   font-size: 14px;
}

.main-form .forgot-password:hover {
   color: var(--color-tertiary);
}

/* Option login or register */
.option-user-choose h2 {
   font-family: var(--font-family-title);
   font-weight: 700;
   font-size: 17px;
   text-align: center;
   margin-bottom: 30px;
}

.option-user-choose .button-option button {
   cursor: pointer;
   width: 100%;
   outline: none;
   border: 2px solid var(--color-primary);
   height: 55px;
   background-color: transparent;
   border-radius: 3px;
   color: var(--color-primary);
   font-weight: 600;
   font-size: 15px;
   transition: all .3s ease-in-out;
}

.option-user-choose .button-option button:hover {
   background-color: #38221050;
}

.content-option-user-choose {
   margin-top: 40px;
}

.title-content-option {
   font-size: 13px;
}

.title-content-option b {
   font-weight: 600;
   color: var(--color-primary);
}

.info-content-option {
   font-size: 13px;
   line-height: 30px;
   font-weight: 400;
}

.info-content-option b {
   color: var(--color-primary);
   font-weight: 600;
}

.error {
   color: darkred;
   font-weight: 600;
   font-size: 15px;
   text-align: center;
   margin-bottom: 0;
   margin-top: 20px;
}
