#sanpham {
    width: 100%;
    height: auto;
    margin-top: 15px;
}

.main_sanpham {
    width: 100%;
    height: auto;
    display: flex;
}

/* main_left */
.main_sanpham_left {
    width: 50%;
    height: 590px;
}

.anh_sp {
    width: 80%;
    height: auto;
    margin: 0px auto;
    box-shadow: 0px 0px 5px gray;
}


/* main_right */
.main_sanpham_right {
    width: 50%;
    height: auto;
}

.main_sanpham_right > h1 {
    display: block;
    width: 100%;
    height: 50px;
    font-size: 25px;
    line-height: 50px;
    margin-top: 5px;
}

.danhgia {
    font-size: 13px;
    text-transform: none;
    color: #13818dff;
    margin: 5px 0px 10px 0px;
}

.fa-star {
    color: #d26e4bff;
}

.anhsize {
    width: 90%;
    height: auto;
}

/* chon_size */
.chonsize {
    display: flex;
}

.chonsize > h4 {
    margin-right: 30px;
}

.chonsize > select {
    width: 40%;
    background-color: #e8e8e8ff;
    border-radius: 10px;
}

.chonsize > select option {
    background: white;
}

/* button_buy */
.buy {
    width: 250px;
    height: 40px;
    background-color: #d26e4bff;
    border: none;
    border-radius: 20px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    margin-top: 20px;
}

.buy:hover {
    background-color: #ab5a3dff;
}

/* sản phẩm khac */
.sp_khac {
    width: 100%;
    height: 500px;
    margin-top: 40px;
}

.sp_tuongtu {
    width: 100%;
    height: 50px;
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    padding-top: 20px;
    margin-bottom: 20px;
}

/* up - down */
.updown {
    margin: 18px 0px 0px 10px;
    display: flex;
}

#showSL {
    text-align: center;
}

.nut_updown {
    width: 32px;
    height: 32px;
    border-radius: 0px;
    background-color: white;
}

#up {
    border: 1px solid gray;
    border-left: 0px;
    border-radius: 0px 2px 2px 0px;
}

#down {
    border: 1px solid gray;
    border-right: 0px;
    border-radius: 2px 0px 0px 2px;
}

#showSL {
    width: 50px;
    height: 32px;
    border-radius: 0px;
    border: 1px solid gray;
}

#showSL:focus-visible {
    border: 1px solid gray;
    outline: none;
}

